@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>This is a placeholder for contents. Things to like, add, or whatever:
    <ul>
        <li>A page explaining how to do the things</li>
        <li>A link to a page to add a table</li>
        <li>A Link to a page to delete a table</li>
        <li>A link to a page to edit a table (add/rename/remove columns)</li>
        <li>A link to a page to add data to that table</li>
        <li>A link to a page to link tables</li>
        <li>A link to a page to view data on the tables</li>
        <li>A link to a page to edit/remove data from tables</li>
        <li>Ugh, this is like, a lot of work. Why am I doing this?</li>

    </ul>
    
    
    </p>
<p class="font-weight-bold">A column of links for testing the things:</p>
<table class="table-active"
    <tr>
        <a href="/FlexiMetrics/TablesUnderConstruction">View Tables Under Construction</a>
    </tr>
    <tr>
        <a href="/FlexiMetrics/AddUCTable">Add an Under Construction Table</a>
    </tr>
</table>


